.image img{
    height: 150px;
    width: 200px;
    border-radius: 6px;
    box-shadow:5px 5px 6px black;
}

.content h2{
    font-size: 28px;
}

.content p{
    font-size: 17px;
    color: rgb(172, 12, 12);
    font-weight: bolder;
}

.btn button{
    background-color:rgb(224, 104, 104);
    color: #531010;
    border-radius: 6px;
    border: none;
    height: 27px;
    margin-bottom: 14px;
}

.btn button:hover{
    color:bisque;
    border:15px #531010;
}