/* Header container */
.header {
    background-color: rgb(224, 104, 104);
    border-radius: 8px;
    border:1.5px solid #531010;
    padding: 10px 0;
    height: 5vh;
    margin-bottom: 18px;
  }
  
  /* Navigation menu */
  .header nav ul {
    list-style: none;
    margin-top:5px;
    padding: 0;
    text-align: center;
  }
  
  /* Navigation menu items */
  .header nav ul li {
    display: inline;
    margin: 0 20px;
  }
  
  /* Navigation links */
  .header nav ul li a {
    text-decoration: none;
    font-size: large;
    color: #531010;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  /* Hover effect for links */
  .header nav ul li a:hover {
    color: #ddd;
  }
  