/* Header container */
.header {
    background-color: rgb(224, 104, 104);
    border-radius: 8px;
    border:1.5px solid #531010;
    padding: 10px 0;
    height: 5vh;
    margin-bottom: 18px;
  }
  
  /* Navigation menu */
  .header nav ul {
    list-style: none;
    margin-top:5px;
    padding: 0;
    text-align: center;
  }
  
  /* Navigation menu items */
  .header nav ul li {
    display: inline;
    margin: 0 20px;
  }
  
  /* Navigation links */
  .header nav ul li a {
    text-decoration: none;
    font-size: large;
    color: #531010;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  /* Hover effect for links */
  .header nav ul li a:hover {
    color: #ddd;
  }
  
  .badge {
    background-color: #6709da;
    color: white;
    border-radius: 12px;
    padding: 0 1rem;
    margin-left: 0.5rem;
  }

  .favouriteCount{
    display:inline-block;
    width:40px;
    height:40px;
    border: 1px solid red;
    color: red;
    text-align: center;
    border-radius: 50%;
    padding-top: 5px
  }